body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #152238;
}

#grid-container{
    width: 620px;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    margin: 30px;
}

#squares-number{
    margin: 30px;
    padding: 8px;
    border-radius: 10px;
}