:root{
    --grid-cols: 16;
    --grid-rows: 16;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #152238;
}

#grid-container{
    width: 620px;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), auto);
    grid-template-rows: repeat(var(--grid-rows), auto);
    margin: 30px;
}

#change-grid{
    margin: 30px;
    padding: 8px;
    border-radius: 10px;
}